body {
    background-color: burlywood;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

header{  /* 0 0 0 1 */ 
    font-size: 200%;
}

.emphasis{ /* 0 0 1 0 */
    font-style: italic;
}

.warning{ /* 0 0 1 0 */
    color: red;
}

#primary{
    font-weight: bold;
    color: greenyellow;
}

/* Change heading colour */
h1, h2{
    color: blue;
}

/* descendancy selector*/
footer p{
    font-size: 50%;
    text-align: center;
}

/* attribute selector */
a[href="http://algonquincollege.com" ] {
    text-decoration: none;
}

/*pseudo class*/
a:link,:visited {
    color: purple;
    text-decoration: none;
}

a:hover, a:active {
text-decoration: underline;
color: darkgoldenrod;
}