/* CSS Reset
 http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body{
    overflow-x: hidden;
}

/***** CSS Begins *****/

header {
    background-color: #222;
}

nav{
    margin: 0 15px;
}

.starlogo{
    margin: 20px 0 0;
}

.searchicon{
background-color: #222;
border-radius: none;
border: 1px solid #c78c06;
}

.searchbar{
    width: 90%;
    margin: 10px 0px 10px 10px;
}
/* creates background image for header and centers with no repeat*/

.homepage{
    background-color: #222;
    background-image: url(../images/main-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px 0px;
    color: white;
    width: 100%;
    max-width: 1200px;
    background-position:center;
    position: relative;
    margin: 0px 0px 0px 10px;
}

button{ 
     background-color: darkgoldenrod;
    color: #222;
  
}
/*sets text to white with a box in behind*/
.maintitle{
    background-color: rgba(22, 22, 22, 0.8);
    color: white;
    width: 95%;
    max-width: 1200px;
    padding: 5px;
    margin: 0px 10px 0px 10px;
}
/* fixed images and services areas */
.serviceimage{
width: 96%;
padding-top: 20px;
padding-left: 10px;

}
/* visions image */
.learnmore{
    background-image: url(../images/vision.jpg);
    width: 100%;
    padding-top: 40px;
    margin-top: 20px;
}
/* adjusts profile image */

.profileimage{
    margin: 0px 10px 0px 10px;
width: 96%;
padding-top: 10px;

}

.aboutus{
    width: 99%;
    margin: auto;
    padding: 2px solid;
    max-width: 1100px;
    display: block;
}
/*creates backround for about us*/
.about{
    background-color: #ffe6ac;
    padding: 20px;
    margin: 0px 10px 0px 10px;
    
}


.connect{
    background-color:#c78c06;
    color: #222;
    border: none;
    padding: 20px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    margin:auto;
}

.logobackground {
    background-color: #c78c06;
}

#home {
    color:  #222;
    display: block;
    text-align: center;
    padding: 15px;
}

#navtab{
    color: darkgoldenrod;
    display: block;
    text-align: center;
    
}
ul, li{
    list-style: none;
    margin: 15px;
}
/* wrapper boxes */
.wrapperservices{
    background-color: #ffe6ac;
    margin: 0px 10px 0px 10px;
}

.wrapperprofile{   
     background-color: #ffe6ac;
    padding: 15px;
    margin: 13px;
}
/* fixes all different title styles+margins and paragraph styles+margins */
h1{
    font-size: 50px;
    text-align: left;
    font-family: sans-serif;
font-weight: bold;}

.h1p{
    text-align: left;
}

h2{
    font-family: sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 10px;
}

h4{    
    font-family: sans-serif;
    font-weight: 600;
    font-size: 2rem;
    padding: 15px 10px 10px 10px;
 
}

h3{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2rem;
    padding: 10px 10px 10px 10px;
    color: white;
}

.hp3{ 
    font-family: sans-serif;
    padding: 10px 10px 10px 10px;
color: white;
}



h5{
 border-bottom: 3px solid#c78c06;
 padding-bottom: 6px;

}

h6{
   
     font-family: sans-serif;
     font-size: 3.5rem;
    font-weight: bold;
    padding-top: 25px;
    padding-left: 10px;
}

h7{    
    font-family: sans-serif;
    font-weight: 600;
    font-size: 2rem;
    padding-left: 10px ;
}

.hp5{ 
    font-family: sans-serif;
    padding: 10px 10px 10px 10px;
color: black;
margin: 0px 0px 10px;
}

.h4p{
    font-family: sans-serif;
    padding: 10px 10px 10px 10px;
}

.hp6{
    font-family: sans-serif;
    padding: 0px 0px 0px 10px;
    font-size: 15px;
}

/* services buttons  */
.buttondigital{
    background-color: #222;
    color: white;
    border-style: none;
    padding: 20px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin: 0px 10px 10px 10px;
    
}

.buttonmarket{
    background-color: #222;
    color: white;
    border-style: none;
    padding: 20px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin: 0px 10px 10px 10px;
}

.buttonvideo{   background-color: #222;
    color: white;
    border-style: none;
    padding: 20px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin: 0px 10px 10px 10px;
}

.buttonweb{
    background-color: #222;
    color: white;
    border-style: none;
    padding: 20px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin: 0px 10px 10px 10px;
}

.buttonprint{
    background-color: #222;
    color: white;
    border-style: none;
    padding: 20px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin: 0px 10px 10px 10px;
}

.visionbutton{
    background-color:rgba(22, 22, 22, 0.8);
    opacity: 90%;
    color: white;
    border-color:#c78c06;
    border-radius: 1px;
    padding: 20px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin: 0px 10px 10px 10px;
}

.sendbutton{   background-color: #222;
    opacity: 100%;
    color: #c78c06;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin: 10px 10px 10px 10px;
}


ol, ul{
    list-style: none;
}


.navtab{
color: #c78c06;
}

a:hover {
    color: #222;
    background-color: #c78c06;

}

footer{
    background-color:  #222;
}
.copyright{
    color: #c78c06;
    padding: 10px;
}

.credit{
    color: #c78c06;
    padding: 10px;
}

#navoptions{
    text-align: center;
    display: block;
}
a:hover{
    color:  #222;
    background-color: #c78c06;
}
/* sets box's for contact us area */
input[type=text] {
    width: 95%;
    max-width: 1100px;
    margin: 10px;
    line-height: 20px;
    border: 1px solid #222;
    border-radius: 2px;
}
input[type=text2] {
    width: 95%;
    max-width: 1100px;
    min-height: 100px;
    margin: 10px;
    line-height: 20px;
    border: 1px solid #222;
    border-radius: 2px;
}
/* conatct us titles positioning design */
.contacttitle{
    font-family: sans-serif;
    font-size: 15px;
    margin: 0px 10px 0px 10px;
    color: #222;
}
/* adds table */

table, th, td {
    border: 1px solid #222;
    border-collapse: collapse;
    padding: 10px;
    width: 95%;
   margin: 10px;
}
/* adds design to table */
th {
    background-color: #ffe6ac;
    font-family: sans-serif;
}

table {
    table-layout: fixed;
    font-family: sans-serif;
    font-size: 15px;
}

/* creates map padding */
#map{
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 95%;
}

.unsplash{
    color: #c78c06;
}

a:hover{
    background-color: #222;
}

/****** BEGINS DESKTOP VERSION ******/

