/* CSS Reset
 http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body{
    overflow-x: hidden;
}

/***** CSS Begins *****/

header {
    background-color: rgb(19, 19, 19);
}

nav{
    margin: 0 15px;
}

.starlogo{
    margin: 20px 0 0;
}

.searchicon{
background-color: rgb(19, 19, 19);
border-radius: none;
border: 1px solid darkgoldenrod;
}

.searchbar{
    width: 90%;
    margin: 10px 0px 10px 10px;
}
/* creates background image for header and centers with no repeat*/

.banner{
    background-color: #222;
    background-image: url(../images/main-banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 30px 0px;
    margin: 0px 10px;
    height: auto;

}
button{ 
     background-color: darkgoldenrod;
    color: black;
  
}
/*sets text to white with a box in behind*/
.opacity{
    background-color: rgba(23, 23, 23, 0.7);
    color: white;
    width: 100%;
    max-width: 1200px;
    padding: 5px;
}
/* fixed images and services areas */
.serviceimage{
    margin: 0px 10px 0px 10px;
width: 96%;
padding-top: 10px;
}
/* visions image */
.learnmore{
    background-image: url(../images/vision.jpg);
    width: 100%;
}
/* adjusts profile image */

.profileimage{
    margin: 0px 10px 0px 10px;
width: 96%;
padding-top: 10px;

}

.aboutus{
    width: 99%;
    margin: auto;
    padding: 2px solid;
    max-width: 1100px;
    display: block;
}
/*creates backround for about us*/
.about{
    background-color: #ffe6ac;
    padding: 20px;
    margin: 0px 10px 0px 10px;
    
}


.connect{
    background-color: darkgoldenrod;
    color: black;
    padding: 10px ;
    border: none;
    margin: 10px;
    font-size: 1.5rem;
}

.logobackground {
    background-color: darkgoldenrod;
}

#home {
    color: rgb(19, 19, 19);
    display: block;
    text-align: center;
    padding: 15px;
}

#navtab{
    color: darkgoldenrod;
    display: block;
    text-align: center;
    
}
ul, li{
    list-style: none;
    margin: 15px;
}
/*  */
.wrapperservices{
    background-color: #ffe6ac;
    margin: 0px 10px 0px 10px;
}

.wrapperprofile{   
     background-color: #ffe6ac;
    margin: 0px 10px 0px 10px;
}
/* fixes all different title styles+margins and paragraph styles+margins */
h1{
    font-size: 50px;
    text-align: left;
    font-family: sans-serif;
font-weight: bold;}

.h1p{
    text-align: left;
}

h2{
    font-family: sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 15px;
}

h4{    
    font-family: sans-serif;
    font-weight: 600;
    font-size: 2rem;
    padding: 15px 10px 10px 10px;
 
}

h3{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2rem;
    padding: 10px 10px 10px 10px;
    color: white;
}

.hp3{ 
    font-family: sans-serif;
    padding: 10px 10px 10px 10px;
color: white;
}



h5{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px 10px 10px 10px;
    color: black;
    border-bottom: 3px solid darkgoldenrod;
}

h6{
   
     font-family: sans-serif;
     font-size: 3.5rem;
    font-weight: bold;
    padding-top: 25px;
    padding-left: 10px;
}

h7{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px 10px 10px 10px;
    color: black;
}

.hp5{ 
    font-family: sans-serif;
    padding: 10px 10px 10px 10px;
color: black;
}

.h4p{
    font-family: sans-serif;
    padding: 10px 10px 10px 10px;
}
/* services buttons  */
.buttondigital{
    background-color: #222;
    color: white;
    border-style: none;
    padding: 20px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin: 0px 10px 10px 10px;
    
}

.buttonmarket{
    background-color: #222;
    color: white;
    border-style: none;
    padding: 20px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin: 0px 10px 10px 10px;
}

.buttonvideo{   background-color: #222;
    color: white;
    border-style: none;
    padding: 20px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin: 0px 10px 10px 10px;
}

.buttonweb{
    background-color: #222;
    color: white;
    border-style: none;
    padding: 20px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin: 0px 10px 10px 10px;
}

.buttonprint{
    background-color: #222;
    color: white;
    border-style: none;
    padding: 20px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin: 0px 10px 10px 10px;
}

.visionbutton{
    background-color:rgba(22, 22, 22, 0.8);
    opacity: 90%;
    color: white;
    border-color:darkgoldenrod;
    border-radius: 1px;
    padding: 20px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin: 0px 10px 10px 10px;
}


ol, ul{
    list-style: none;
}

a:link, a:visited {
text-decoration: none;
}

.navtab{
color: darkgoldenrod;
}

a:hover {
    color: rgb(19, 19, 19);
    background-color: darkgoldenrod;

}

footer{
    background-color: rgb(19, 19, 19);
}
.copyright{
    color: darkgoldenrod;
}

.credit{
    color: darkgoldenrod;
}

#navoptions{
    text-align: centre;
    display: block;
}
a:hover{
    color:  black;
    background-color: darkgoldenrod;
}
